h1{
    font-size: 50px;
    text-align: center;
    color: #201b1a
    }
    
    p{
    font-size: 20px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    }
    
    body {
    background-color: #c70b27d4;
    }

    h2 {
        font-size: 20px;
        text-align: center;
        font-family: Helvetica, sans-serif;
        }
